<div class="sub-header">
    <img src="../../../assets/High voltage page main.jpg">
    <h1>Business & Finances</h1>
</div>
<div class="description">
    <div class="description-content">
        <h1>What We Do...</h1>
        <p>
            On the business and finance side of the team, members work to ensure the success of our team by managing the budget, maintaining relationships with sponsors, and presenting the business and cost events at competition. The work we do supports the endeavors of the engineering subteams and allows them to complete their projects on time and on budget.
        </p>
    </div>
</div>
<div class="images">
    <img src="../../../assets/High voltage page 1.jpg">
    <img src="../../../assets/High voltage page 2.jpg">
    <img src="../../../assets/High voltage page 3.JPG">
    <img src="../../../assets/High voltage page 4.jpg">
</div>
<div class="description" id="team-leader">
    <div class="description-content">
        <h1 id="sub-team-name">Treasurer: <span id="lead-name">Justin Bowers</span></h1>
        <div class="lead-info">
            <div class="left">
                <img src="../../../assets/Meet the members Justin Bowers.jpg">
            </div>
            <div class="right">
                <p>
                    Justin is a second-year Computer Science and Electrical Engineering student. He joined the team in Fall 2022 after he saw a flyer hanging outside of Naka Hall. Justin manages the budget, tracks team spending, designs electrical harnesses and embedded software systems, and considers himself the “resident CAN (theory) expert.”
                </p>
            </div>
        </div>
    </div>
</div>
<div class="quote">
    <div class="quote-content">
        <h1><i>"Frugality is a virtue; that we have yet to learn"</i></h1>
        <h1>- Justin Bowers</h1>
    </div>
</div>
<div class="description" id="team-leader">
    <div class="description-content">
        <h1 id="sub-team-name">Business Lead: <span id="lead-name">Brooke Becker</span></h1>
        <div class="lead-info">
            <div class="left">
                <img src="../../../assets/High voltage headshot hayden.jpg">
            </div>
            <div class="right">
                <p>
                    Brooke is a senior Mechanical Engineering student. She joined the team in the Fall of 2021. She is one of the presenters for the business event at competition. Brooke manages internal and external communication, sponsorships, social media, and team logistics, and considers herself the “resident perfectionist.”
                </p>
            </div>
        </div>
    </div>
</div>
<div class="quote">
    <div class="quote-content">
        <h1><i>“**hiccup**”</i></h1>
        <h1>- Brooke Becker</h1>
    </div>
</div>
<app-footer></app-footer>