<div class="container">
    <div class="hero-txt">
        <div class="hero-container">
            <div class="hero-para">
                <p>Mizzou Racing was established in 1985. We resided in the basement shop of Engineering Building West from 1998 until 2022 and saw generations of cars and Mizzou Racers come and go. In 2022, we moved into a new shop in Lafferre Hall and were joined by newly founded Mizzou Electric Racing. Together, we manufactured Mizzou's very first Formula SAE Electric Vehicle. Currently, we produce a combustion car each year and have ranked in the Top 20 of Formula SAE for the last two years.</p>
            </div>
            <div class="hero-para">
                <p>Mizzou Racing Alumni have gone on to work at companies like Tesla, Honda, Garmin, SpaceX, Bosch, and Lucid. We have an extensive network of alumni who have accomplished some amazing feats due to their time on Mizzou Racing.</p>
            </div>
        </div>
    </div>
    <div class="cars-container">
        <div class="car-tb">
            <div class="left-tb">
                <h1>CAR #39</h1>
                <div class="underline"></div>
            </div>
            <div class="right-tb">
                <img src="../../assets/History page IC 2 car 39.jpeg">
            </div>
        </div>
        <div class="car-m">
            <div class="left-m">
                <img src="../../assets/History page IC 3 car 87.jpg">
            </div>
            <div class="right-m">
                <h1>CAR #87</h1>
                <div class="underline-right"></div>
            </div>
        </div>
        <div class="car-tb">
            <div class="left-tb">
                <h1>CAR #52</h1>
                <div class="underline"></div>
            </div>
            <div class="right-tb">
                <img src="../../assets/History page IC 4 car 52.heic">
            </div>
        </div>
    </div>
    <div class="back-pic">
        <img src="../../assets/History page IC 1.jpg">
    </div>
</div>
<app-footer></app-footer>
