<div class="sub-header">
    <img src="../../../assets/Aerodynamics page main.JPG">
</div>
<div class="description">
    <div class="description-content">
        <h1>What We Do...</h1>
        <p>
            The subsystem works to design and manufacture aerodynamic components for the racecar. With the help of our sponsors, we can manufacture our aerodynamic package completely in house The package creates a downforce on the tires and in turn alters the maximum frictional force the car’s tires can generate. Components include front and rear wings, an undertray, nosecone, and sidepods.
        </p>
    </div>
</div>
<div class="images">
    <img src="../../../assets/Aerodynamics page 1.JPG">
    <img src="../../../assets/Aerodynamics page 2.JPG">
    <img src="../../../assets/Aerodynamics page 3.JPG">
    <img src="../../../assets/Aerodynamics page 4.jpg">
</div>
<div class="description" id="team-leader">
    <div class="description-content">
        <h1 id="sub-team-name">Sub Team Lead: <span id="lead-name">Abel Osorio-Morales</span></h1>
        <div class="lead-info">
            <div class="left">
                <img src="../../../assets/subteams/abel.png">
            </div>
            <div class="right">
                <p>
                    Abel is a senior mechanical engineering major. He joined 
                    the team in Fall 2020. He has dedicated his time to learning 
                    Star CCM software and creating simulations to design a more efficient 
                    aerodynamics package. Abel has redesigned our rear wing and 
                    sidepod/ducts. He also introduced the addition of Mylar to our carbon 
                    fiber manufacturing process improving the surface finish on our parts. 
                    While away on co-op at Hunter Engineering for Fall 2023, Abel is continuing 
                    his design process remotely and commuting in on weekends.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="quote">
    <div class="quote-content">
        <h1><i>"Air sustains in adverse pressure gradient only if you ask it nicely."</i></h1>
        <h1>- Abel Osario-Morales</h1>
    </div>
</div>
<app-footer></app-footer>