<div class="sub-header">
    <img src="../../../assets/High voltage page main.jpg">
</div>
<div class="description">
    <div class="description-content">
        <h1>What We Do...</h1>
        <p>
            Our high voltage team is responsible for the design and implementation of all electronic modules and wiring in the EV. We integrate numerous custom printed circuit board modules, a battery management system, traction inverter, Emrax 228 axial flux motor, ECU, and more to produce a cohesive system and competitive race car.
        </p>
    </div>
</div>
<div class="images">
    <img src="../../../assets/High voltage page 1.jpg">
    <img src="../../../assets/High voltage page 2.jpg">
    <img src="../../../assets/High voltage page 3.JPG">
    <img src="../../../assets/High voltage page 4.jpg">
</div>
<div class="description" id="team-leader">
    <div class="description-content">
        <h1 id="sub-team-name">High Voltage Team Lead: <span id="lead-name">Hayden Higgins</span></h1>
        <div class="lead-info">
            <div class="left">
                <img src="../../../assets/High voltage headshot hayden.jpg">
            </div>
            <div class="right">
                <p>
                    Hayden is a senior electrical engineering and physics student. He joined the team in the Fall of 2021 and was a key member in producing Mizzou’s first Formula SAE EV. Hayden’s goals for this season are to test and characterize the EV powertrain to inform future design decisions, refine custom electronic modules and controls to be robust, effective, and serviceable, and finally to repackage the high voltage systems to be cleaner, lighter, and safer.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="quote">
    <div class="quote-content">
        <h1><i>“It’s not the voltage that’ll get you, it’s the current times the resistance you need to watch out for.”</i></h1>
        <h1>- Hayden Higgins</h1>
    </div>
</div>
<app-footer></app-footer>