<div class="container">
    <div class="hero-txt">
        <div class="hero-container">
            <div class="hero-para">
                <p>Mizzou Electric Racing, previously known as Mizzou Eco Racing, has been a university organization since 19XX. During its tenure, the Eco Racing team was involved in building solar cars, hydrogen cars, and an electric conversion of a Chevy S10.</p>
            </div>
            <div class="hero-para">
                <p>The Solar Car competed annually in the American Solar Challenge, also known as “Sunrayce,” where cars raced from Chicago to Los Angeles over a 10-day period. Mizzou Eco Racing transitioned to building hydrogen cars in 20XX, competing in the Shell Eco-Marathon from year to year, and in 2017, they successfully converted a Chevy S10 into an electric vehicle.</p>
            </div>
            <div class="hero-para">
                <p>In 2022, Mizzou Eco Racing became Mizzou Electric Racing. Together with Mizzou Racing, we moved from the basement of Naka Hall into a new shop in Lafferre Hall. In the same year, we began the joint manufacturing of Mizzou’s very first Formula SAE Electric Vehicle.</p>
            </div>
        </div>
    </div>
    <div class="cars-container">
        <div class="car-tb">
            <div class="left-tb">
                <h1>SOLAR CAR</h1>
                <div class="underline"></div>
            </div>
            <div class="right-tb">
                <img src="../../assets/otherAssets/hydrogen.png">
            </div>
        </div>
        <div class="car-m">
            <div class="left-m">
                <img src="../../assets/otherAssets/hydrogen.png">
            </div>
            <div class="right-m">
                <h1>HYDROGEN CAR</h1>
                <div class="underline-right"></div>
            </div>
        </div>
        <div class="car-tb">
            <div class="left-tb">
                <h1>CAR #237</h1>
                <div class="underline"></div>
            </div>
            <div class="right-tb">
                <img src="../../assets/hist237.png">
            </div>
        </div>
    </div>
    <div class="back-pic">
        <img src="../../assets/history.png">
    </div>
</div>
<app-footer></app-footer>
