.container { 
    width: 100%;
    position: relative;
    font-family: 'Oswald', sans-serif;
}

#hero-img {
    width: 100%; 
    height: 85vh;
    position: fixed;
    object-fit: cover; 
    z-index: -5;
    top: 0;
    object-position: 50% 50%;
    border-bottom: solid 4px #e1b53d;
}

video {
    width: 98%;
    position: absolute;
    top: 2vh;
    left: 0;
    object-fit: cover; 
    object-position: 50% 50%;
    height: 95vh;
    margin-left: 2vh;
    border-bottom: solid 4px #e1b53d;
}

.hero-txt {
    position: absolute;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    z-index: 2;
    bottom: 2vh;
}

.hero-txt h1 {
    text-align: center;
    font-size: 7vh;
    font-family: 'Oswald', sans-serif;
}

#yellow {
    color: #F1B82D;
    text-shadow: 3px 3px black;
}

#transCar {
    width: 40%;
    height: auto;
    position: absolute;
    z-index: 5;
    top: 128vh;
    left: -1vw;
}

#black {
    color: white;
    text-shadow: 3px 3px black;
}

.filter {
    position: fixed;
    width: 100%;
    z-index: -5;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    height: 100vh;
}

@media only screen 
and (max-width: 1200px)
 {
    .container img{
        height: 90vh;
    }

    .hero-txt {
        bottom: 2vh;
    }

    .hero-txt h1 {
        font-size: 6vh;
        margin: 0;
    }

    #transCar {
        display: none;
    }

 }


 @media only screen 
and (max-width: 550px)
 {
    .hero-txt h1 {
        font-size: 4vh;
    }


 }