<div class="container">
    <div class="back-pic">
        <img src="../../assets/Meet the members page main.JPG">
    </div>
    <div class="info">
        <div class="comp-team">
            <div class="team-info">
                <div class="first-team">
                    <img src="../../assets/Meet the members comp team.JPG">
                </div>
                <div class="second-team">
                    <div class="second-text">
                        <h1 id="name">2023 Competition Team</h1>
                        <p>Our team consists of a diverse group of students pursuing majors in engineering and various other fields, ranging from first-year undergraduates to graduate students.</p>
                    </div>
                </div>
              </div>
        </div>
        <br><br><br><br>
        <div class="card">
            <div class="first">
                <img src="../../assets/subteams/aaron.png">
            </div>
            <div class="second">
                <h1 id="name">Adam Farr</h1>
                <p>"I've gotten to lead my own projects, assisted the team leads with theirs, and I've really taken a big role in helping the new members complete their new member projects this year."</p>
            </div>
        </div>
        <div class="card">
            <div class="first">
                <img src="../../assets/subteams/aaron.png">
            </div>
            <div class="second">
                <h1 id="name">Alex Gillund</h1>
                <p>“It’s nice that we get to learn all that you can and want around here. You get to work with everyone and learn everything before you get settled Into your thing.”</p>
            </div>
        </div>
        <div class="card">
            <div class="first">
                <img src="../../assets/Meet the members David Hartman.jpg">
            </div>
            <div class="second">
                <h1 id="name">David Hartman</h1>
                <p>"It’s incredible spending every day working with brilliant people coming together to design and build something they love. It’s been life changing to be surrounded by this amount of creativity, curiosity, and passion."</p>
            </div>
        </div>
        <div class="card">
            <div class="first">
                <img src="../../assets/Meet the members Justin Bowers.jpg">
            </div>
            <div class="second">
                <h1 id="name">Justin Bowers</h1>
                <p>“Honestly, I've never been much of a car guy, but I saw the race car and I started asking questions about it and I thought it was just the coolest thing to be able to build race cars for free in my spare time in college."</p>
            </div>
        </div>
        <div class="card">
            <div class="first">
                <img src="../../assets/subteams/aaron.png">
            </div>
            <div class="second">
                <h1 id="name">Lauren Millard</h1>
                <p>"I was surprised at how much I've learned. Because, I was talking to somebody the other day about what I was working on and they were like, I don't understand half the words you're saying."</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>