<div class="container">
    <div class="back-pic">
        <img src="../../assets/meetTheTeam/meetTheTeam.png">
    </div>
    <div class="info">
        <div class="comp-team">
            <div class="team-info">
                <div class="first-team">
                    <img src="../../assets/columns.JPG">
                </div>
                <div class="second-team">
                    <div class="second-text">
                        <h1 id="name">2023 Competition Team</h1>
                        <p>Our team consists of a diverse group of students pursuing majors in engineering and various other fields, ranging from first-year undergraduates to graduate students.</p>
                    </div>
                </div>
              </div>
        </div>
        <br><br><br><br>
        <div class="card">
            <div class="first">
                <img src="../../assets/subteams/aaron.png">
            </div>
            <div class="second">
                <h1 id="name">Adam Farr</h1>
                <p>"I've gotten to lead my own projects, assisted the team leads with theirs, and I've really taken a big role in helping the new members complete their new member projects this year."</p>
            </div>
        </div>
        <div class="card">
            <div class="first">
                <img src="../../assets/subteams/aaron.png">
            </div>
            <div class="second">
                <h1 id="name">Adam Farr</h1>
                <p>"I've gotten to lead my own projects, assisted the team leads with theirs, and I've really taken a big role in helping the new members complete their new member projects this year."</p>
            </div>
        </div>
        <div class="card">
            <div class="first">
                <img src="../../assets/subteams/aaron.png">
            </div>
            <div class="second">
                <h1 id="name">Adam Farr</h1>
                <p>"I've gotten to lead my own projects, assisted the team leads with theirs, and I've really taken a big role in helping the new members complete their new member projects this year."</p>
            </div>
        </div>
        <div class="card">
            <div class="first">
                <img src="../../assets/subteams/aaron.png">
            </div>
            <div class="second">
                <h1 id="name">Adam Farr</h1>
                <p>"I've gotten to lead my own projects, assisted the team leads with theirs, and I've really taken a big role in helping the new members complete their new member projects this year."</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>