<div class="sub-header">
    <img src="../../../assets/Electronics page main.JPG">
</div>
<div class="description">
    <div class="description-content">
        <h1>What We Do...</h1>
        <p>
            Our electronics team is responsible for the design and implementation of all the electronics and wiring in the car. We assemble our entire wiring harness from scratch to connect our MoTec M150, custom power distribution unit, datalogger, electronic throttle, digital dash, and other electronic components. The team makes various custom PCBs and firmware packages to help us gain a competitive advantage through electronics.
        </p>
    </div>
</div>
<div class="images">
    <img src="../../../assets/Electronics page 1.jpg">
    <img src="../../../assets/Electronics page 2.jpg">
    <img src="../../../assets/Electronics page 3.jpg">
    <img src="../../../assets/Electronics page 4.JPG">
</div>
<div class="description" id="team-leader">
    <div class="description-content">
        <h1 id="sub-team-name">Electronics Team Lead: <span id="lead-name">Jack Fels</span></h1>
        <div class="lead-info">
            <div class="left">
                <img src="../../../assets/Electronics page headshot jack.JPG">
            </div>
            <div class="right">
                <p>
                    Jack is a sophomore electrical engineering ent. He joined the team in Fall 2022 and was a key member in the process to electrify Mizzou Racing and produce Mizzou's first Formula SAE EV. Our previous electronics lead (Cory Haberberger, Spring 2023) mentored Jack during his last year with us. Jack's goals for this season are redesigning our dash board and creating a reliable wiring harness with proper cooling for the combustion car. On the EV side, Jack is aiming to create a PDU for the car as well as helping improve performance.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="quote">
    <div class="quote-content">
        <h1><i>“It’s probably a mechanical issue.”</i></h1>
        <h1>- Jack Fels</h1>
    </div>
</div>
<app-footer></app-footer>