<div id="parent">
    <div id="narrow">
        <h1>About Us</h1>
    </div>
    <div id="wide">
        <h4>
            Mizzou Racing and Mizzou Electric Racing are the two Formula SAE teams at the University of Missouri. We both build a ¼ scale formula-style car each year and compete against universities from around the world. The cars are both designed, manufactured, and built by our members; our organizations are entirely student-run. With both teams operating out of the same shop, members can contribute to both the combustion car and the electric car. The teams are made up of engineering students, as well as other majors, ranging from freshman undergrad to graduate students.
        </h4>
    </div>
  </div>
